<%if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%=render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%=render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
<div class="center hero_unit">
	<h1>Twitter 2.0</h1>

	<h2>
		"Wise men always said: 'A better world would contain a better Twitter'. 
		<br>
		It has arrived...
		</h2>


</div>

<br>
<p>
  Have you always wished there were a better, more enhanced Twitter out there? A version that allowed for more than that standard, oppressive 140 symbol count? A version that allowed you to express your <i>true</i> and radiant self on the internet for all your loyal followers to see? 

  Wise Men have always said: 'A better world would have a better Twitter.' And now, through my selfless actions and struggles with the powers that be...I have made that world, that...dream..., a<a href="http://i.imgur.com/j74SykU.gif"> <u><b>REALITY.</b></u></a></p>
 

<div class="center hero_unit">
	<div id="text1">
		<p> Behold the glory that is all mine and the kingdom I have bestowed upon thee.</p>
	</div>
	<br>
	<%= link_to "Sign up now...", signup_path, class:"btn btn-large btn-danger" %>
</div>

<% end %>